.container {
    width: 80%;
}
@media (min-width: 992px){
    .container {
        width: 80%;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-8 {
        width: 66.6666666667%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-6 {
    width: 50%;
}}


@media (min-width: 768px){
    .container {
        width: 80%;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
h1, .h1 {
    font-size: 36px;
}
.img-circle {
    border-radius: 50%;
}
img {
    vertical-align: middle;
}
.text-babu, .icon-babu {
    color: #00A699;
}
.row-space-1 {
    margin-top: 6px;
    margin-bottom: 6px;
}

.text-center {
    text-align: center;
}
.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa-2x {
    font-size: 2em;
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.text-center {
    text-align: center;
}
h3, .h3 {
    font-size: 24px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin: 0 0 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.carousel {
    position: relative;
}
.carousel-indicators {
    bottom: 20px;
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
@media screen and (min-width: 768px){
    .carousel-indicators {
        bottom: 20px;
    }
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.row {
 
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.row.text-center.row-space-1{
    flex: auto;
}
.amenities .text-line-through {
    text-decoration: line-through;
    color: rgba(0,0,0,0.45);
    font-size: 14px;
}
.amenities li {
    margin-bottom: 10px; 
    font-size: 16px; 
    list-style-type: none;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-default {
    border-color: #ddd;
}
.panel-default .panel-heading {
    color: #ffffff;
    background-color: #00A699;
    font-size: 18px;
    font-weight: 400;
}
.pull-right {
    float: right !important;
}


.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 15px;
}
.form-control.datepicker {
    color: #00A699; 
    background-color: white;
    border: 1px solid #00A699;
    text-align: center;
}
.btn.btn-normal {
    border: 1px solid #ff5a5f;
    background-color: #ff5a5f;
    color: #fff;
}
.avatar-medium {
    width: 40%;
}
.panel-default {
    border-color: #ddd;
}
body{
    font-family: 'Hiragino Maru Gothic Pro';
    color: #565a5c;
}