.sidebar-list {
    padding-left: 0;
    list-style: none;
}
.sidebar-item {
    padding: 10px 0;
    font-size: 16px;
    color: #82888a;
}
.active.sidebar-link {
    color: #565A5C;
    font-weight: bold;
    text-decoration: none;
}
.text-babu, .icon-babu {
    color: #00A699;
}
.fa, .fas {
    font-weight: 900;
}
.pull-right {
    float: right !important;
}
.active.sidebar-link a:hover {
    color: #565A5C;
    font-weight: bold;
    text-decoration: none;
}
.sidebar-item {
    padding: 10px 0;
    font-size: 16px;
    color: #82888a;
}
h4{
    padding-left: 15px;
}
body{
    font-family: 'Hiragino Maru Gothic Pro';
    color: #565a5c;
}
.sidebar-item{
    font-size: 15px;
}
.btn{
    font-size: 15px;
}