.banner {
    margin-top: 50px;
    margin-bottom: 50px;
}
h1, .h1 {
    font-size: 36px;
}
.text-red, .icon-red {
    color: #FF5A5F;
}
@media (min-width: 992px){

.col-md-6 {
    width: 50%;
}}
@media (min-width: 992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float:left;
}}
.container {
    width: 80%;
}
.btn.btn-normal {
    border: 1px solid #ff5a5f;
    background-color: #ff5a5f;
}
@media (min-width: 992px){
.col-md-offset-4 {
    margin-left: 33.3333333333%;
}}
@media (min-width: 992px){
.col-md-4 {
    width: 33.3333333333%;
}}

@media (min-width: 992px){
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
}
.panel-body {
    padding: 15px;
}
a {
    color: #00A699;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.discovery-card {
    background-size: cover;
    background-position: center;
    height: 326px;
}